.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db
cicd.md

.idea/
*.sublime-workspace
*.sublime-project
.Thumbs.db
ehthumbs.db


node_modules/
__pycache__/

# Coverage reports
coverage/
client/coverage/
server/coverage/